<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/base::layout(~{::section})}">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <!-- Load Google Charts library -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <section class="center">

        <h1>Admin Dashboard</h1>

        <div th:if="${session.msg}">
            <h3 th:text="${session.msg}" style="color:red"></h3>
            <h3 th:text="${session.msg}" style="color:red"></h3>
        </div>

        

          <table border="1">
            <tr>
                <th>Candidate Name</th>
                <th>Total Votes</th>
            </tr>
            <tr th:each="candidate : ${allCandidates}">
                <td th:text="${candidate.candidateName}"></td>
                <td th:text="${candidate.voteCount}"></td>
            </tr>
        </table>
</body>
</html>
